@import url("https://api.fonts.coollabs.io/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk/woff2/SpaceGrotesk[wght].woff2")
    format("woff2-variations");
  font-weight: 300 700;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
  font-feature-settings: "ss04" 1;
}

@font-face {
  font-family: "MADE Outer Sans";
  src: url("/fonts/MADEOuterSans/MADEOuterSans-Light.woff2") format("woff2"),
    url("/fonts/MADEOuterSans/MADEOuterSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Outer Sans";
  src: url("/fonts/MADEOuterSans/MADEOuterSans-Black.woff2") format("woff2"),
    url("/fonts/MADEOuterSans/MADEOuterSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Outer Sans";
  src: url("/fonts/MADEOuterSans/MADEOuterSans-Bold.woff2") format("woff2"),
    url("/fonts/MADEOuterSans/MADEOuterSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Outer Sans";
  src: url("/fonts/MADEOuterSans/MADEOuterSans-Thin.woff2") format("woff2"),
    url("/fonts/MADEOuterSans/MADEOuterSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Outer Sans";
  src: url("/fonts/MADEOuterSans/MADEOuterSans.woff2") format("woff2"),
    url("/fonts/MADEOuterSans/MADEOuterSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Outer Sans";
  src: url("/fonts/MADEOuterSans/MADEOuterSans-Medium.woff2") format("woff2"),
    url("/fonts/MADEOuterSans/MADEOuterSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Epilogue";
  src: url("./Epilogue/variable/Epilogue[wght].woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue Italic";
  src: url("./Epilogue/variable/Epilogue-Italic[wght].woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 12deg;
}

@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: "Mabry Pro";
  src: local("Mabry Pro Bold"), local("MabryPro-Bold"), url("/fonts/MabryPro/MabryPro-Bold.woff2") format("woff2"),
    url("/fonts/MabryPro/MabryPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url("/fonts/Manrope/webfonts/Manrope-ExtraLight.woff2") format('woff2') font-weight-extralight,
       url("/fonts/Manrope/webfonts/Manrope-Light.woff2") format('woff2') font-weight-light,
       url("/fonts/Manrope/webfonts/Manrope-Regular.woff2") format('woff2') font-weight-normal,
       url("/fonts/Manrope/webfonts/Manrope-Medium.woff2") format('woff2') font-weight-medium,
       url("/fonts/Manrope/webfonts/Manrope-Semibold.woff2") format('woff2') font-weight-semibold,
       url("/fonts/Manrope/webfonts/Manrope-Bold.woff2") format('woff2') font-weight-bold,
       url("/fonts/Manrope/webfonts/Manrope-ExtraBold.woff2") format('woff2') font-weight-extrabold,

       url("/fonts/Manrope/webfonts/Manrope-ExtraLightItalic.ttf") format('truetype') font-italic font-weight-extralight,
       url("/fonts/Manrope/webfonts/Manrope-LightItalic.ttf") format('truetype') font-italic font-weight-light,
       url("/fonts/Manrope/webfonts/Manrope-RegularItalic.ttf") format('truetype') font-italic font-weight-normal,
       url("/fonts/Manrope/webfonts/Manrope-MediumItalic.ttf") format('truetype') font-italic font-weight-medium,
       url("/fonts/Manrope/webfonts/Manrope-SemiboldItalic.ttf") format('truetype') font-italic font-weight-semibold,
       url("/fonts/Manrope/webfonts/Manrope-BoldItalic.ttf") format('truetype') font-italic font-weight-bold,
       url("/fonts/Manrope/webfonts/Manrope-ExtraBoldItalic.ttf") format('truetype') font-italic font-weight-extrabold,
} */
