---
import BaseLayout from './baselayout.astro';
import RelatedArticles from '../relatedArticles.astro';
import { dateFilter } from '../../lib/dateFilter.js';
import authorData from '../../data/authors/authors.json';

const post = Astro.props;
const author = authorData[post.content.author];
---

<BaseLayout
  title={post.content.title}
  description={post.content.desc}
  image={post.content.img}
  post={true}
>
  <div
    class="h-80 rounded-2xl mb-10 text-white flex relative w-full bg-cover bg-center justify-center items-center"
    style={`background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('${post.content.img}')`}
  >
    <div class="items-center">
      <h1
        class="text-center mx-3 md:mx-0 text-4xl md:text-5xl font-[500] uppercase leading-[0.85]"
        set:html={post.content.title}
      >
      </h1>
      <p
        class="absolute sm:relative invisible sm:visible text-lg text-center mt-1"
      >
        <a
          class="hover:text-blue-500 transition-colors duration-200"
          href={`/author/${author.name}`}
        >
          Written by {author.name}
        </a>on {dateFilter(post.content.date)}
      </p>

      <p
        class="relative sm:absolute visible sm:invisible text-lg text-center mt-3"
      >
        {dateFilter(post.content.date)}
        <a
          class="hover:text-blue-500 transition-colors duration-200 font-semibold block -mt-1"
          href={`/author/${author.name}`}
          >By {author.name}
        </a>
      </p>
      <!-- <ul>
        {post.content.tags.map((tag) =>
        <li><a href={`/tags/${tag}`}
            class='hover:text-blue-500 transition-colors duration-200 mx-2 text-sm font-medium'>#{tag}</a>
        </li>)}
      </ul> -->
    </div>
  </div>

  <section class="flex flex-col mb-6 md:mb-10">
    <div class="container">
      <article class="prose dark:prose-invert !max-w-full mb-10">
        <slot />
      </article>
    </div>

    <h2 class="text-3xl mb-2 font-[500]">About the author:</h2>
    <a
      class="w-64 md:w-full flex flex-col items-center bg-neutral-300 dark:bg-neutral-900 rounded-2xl md:flex-row md:max-w-xl"
    >
      <img
        class="object-cover w-64 h-auto md:h-52 md:w-56 md:mr-1 rounded-t-2xl md:rounded-t-none md:rounded-l-2xl"
        src={author.image}
        alt={`${author.name}'s profile image'`}
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <!-- <p class="text-neutral-600 dark:text-neutral-400 text-xs font-bold">
          ABOUT THE AUTHOR
        </p> -->
        <h5
          class="text-neutral-900 dark:text-neutral-100 text-3xl font-medium mb-2 mt-1"
        >
          {author.name}
        </h5>
        <p
          class="text-neutral-700 dark:text-neutral-200 text-sm md:text-base mb-4 mr-2"
        >
          {author?.desc}
        </p>
      </div>
    </a>
  </section>

  <!-- A comments system powered by GitHub Discussions: https://giscus.app -->
  <h2 class="text-3xl mb-2 font-[500]">Leave a comment:</h2>
  <script
    src="https://giscus.app/client.js"
    data-repo="MorrisMotel/morrismotel-site"
    data-repo-id="R_kgDOHzpuiQ"
    data-category="Comments"
    data-category-id="DIC_kwDOHzpuic4CQwyH"
    data-mapping="title"
    data-strict="1"
    data-reactions-enabled="0"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="transparent_dark"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  >

  </script>

  <div class="mt-10">
    <RelatedArticles {post} />
  </div>
</BaseLayout>
