---
import BaseLayout from '../../components/layouts/baselayout.astro';
import Tags from '../../components/Tags.astro';
import Article from '../../components/article.astro';
import { getAllPosts } from '../../lib/posts.js';

export async function getStaticPaths({ rss }) {
  const posts = await Promise.all(await getAllPosts());
  const allTags = [...new Set(posts.flatMap(({ tags }) => tags))];

  return allTags.map((tag) => {
    const postsForTag = posts.filter((post) => post.tags.includes(tag));
    return {
      params: { slug: tag },
      props: { allTags, postsForTag },
    };
  });
}

const tag = Astro.params.slug;
const postsForTag = Astro.props.postsForTag;
---

<BaseLayout
  title={'#' + tag}
  description={`Posts tagged with #${tag}`}
  post={false}
>
  <h1
    class="mb-4 text-3xl sm:text-4xl font-extrabold place-items-center text-center"
    color="currentColor"
  >
    All posts tagged with #{tag}
  </h1>

  <Tags />

  <div class="container md:mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-10">
      {postsForTag.map((p) => <Article post={p} />)}
    </div>
  </div>
</BaseLayout>
