<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"
    />
    <title>404 Not Found</title>
    <style>
      @font-face {
        font-family: FSEX300;
        src: url('../../fonts/FSEX300.ttf') format('truetype'),
          url('../../fonts/FSEX300.svg') format('svg');
        font-style: normal;
        font-weight: 400;
      }
    </style>

    <script>
      document.body.addEventListener('keypress', myFunction);
      function myFunction() {
        location.href = '/';
      }
    </script>
  </head>

  <body
    style="font-family: FSEX300; background: #0000cd;"
    class="text-white mx-5 flex justify-center"
    onkeypress="myFunction()"
  >
    <div class="mt-[10vh] max-w-[1000px]">
      <span class="bg-[#ccc] text-[#0000cd] text-5xl px-4 py-1"
        >404 Not Found</span
      >

      <p class="text-3xl mt-10">A wild 404-PAGE appeared!</p>
      <p class="text-2xl mt-10">
        Our servers are REACHABLE,<br />
        but the requested URL was not found.<br /><br />
        * Do not panic.<br />
        * Make sure the url is correct.
      </p>
      <div class="text-3xl mt-10">Press any key to return home _</div>
    </div>
  </body>
</html>
