---
import Page from "@layouts/page";
---

<Page title="Contribute">
  <p>
    If you'd like to write for Morris Motel, shoot us an email at <a
      href="mailto:contact@morrismotel.com">contact@morrismotel.com</a
    > and we'll get back to you as soon as possible.
  </p>
  <p>Thanks!</p>
</Page>
