---
---

<footer class="pt-4 md:pt-6 text-sm text-gray-700 dark:text-gray-400 pb-7 text-center">

  <ul class="flex gap-7 right-0">
    <li>
      <a class="menu-item" href="/privacypolicy/">Privacy</a>
    </li>
    <li>
      <a class="menu-item" href="/contribute/">Contribute</a>
    </li>
    <li>
      <a class="menu-item" href="https://blocksurvey.io/survey/17rnK91GV7TCesi9Afx4mXsnFcJNmdXFoa/f100e39b-4a94-4b98-ab29-f70e47d7f4be/r/l">DMCA</a>
    </li>
    <li>
      <a class="menu-item" href="https://discord.gg/AMrV3yjC4y">Discord</a>
    </li>
    <li>
      <a class="menu-item" href="https://matrix.to/#/#morrismotel:morrismotel.com">Matrix</a>
    </li>
  </ul>
  <a class="menu-item block mt-1" href="mailto:contact@morrismotel.com">contact@morrismotel.com</a>
  <span class="block mt-1">&copy; {new Date().getFullYear()} Morris Motel</span>
</footer>