---
---

<footer
  class="pt-4 md:pt-6 text-sm text-gray-700 dark:text-gray-400 pb-7 text-center"
>
  <ul class="flex gap-7 right-0">
    <li>
      <a class="menu-item" href="/privacypolicy/">Privacy</a>
    </li>
    <li>
      <a class="menu-item" href="/contribute/">Contribute</a>
    </li>
    <li>
      <a class="menu-item" href="https://tally.so/r/nPdGW5">DMCA</a>
    </li>
    <li>
      <a class="menu-item" href="https://discord.gg/AMrV3yjC4y">Discord</a>
    </li>
    <li>
      <a
        class="menu-item"
        href="https://matrix.to/#/#morrismotel:morrismotel.com">Matrix</a
      >
    </li>
  </ul>
  <a class="menu-item block mt-1" href="mailto:contact@morrismotel.com"
    >contact@morrismotel.com</a
  >
  <span class="block mt-1">&copy; {new Date().getFullYear()} Morris Motel</span>
</footer>
