---
const post = Astro.props.post;
---

<li class="mb-[0.15rem]">
  <a
    href={`/posts/${post?.slug || post?.frontmatter?.slug}`}
    class="transition-colors duration-200 hover:text-blue-600 dark:hover:text-blue-500"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 inline mb-1"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
      ></path>
    </svg>
    {post.title}
  </a>
</li>
