---
import { navContents } from '@data/nav';
---

<nav class="py-2.5 px-4">
  <div class="flex flex-wrap justify-between items-center">
    <a href="/" class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1354" height="1037"
        viewBox="0 0 1354 1037" class="mr-3 w-10 h-10" fill="currentColor">
        <g id="Group">
          <path id="Path" fill-rule="evenodd" stroke="none"
            d="M 1 3 L 1 1036.914917 L 140.149017 1036.914917 L 140.149017 284.976746 L 676.866577 694.514587 L 1352.733154 177.557129 L 1352.733154 3 L 676.866577 519.957458 L 1 3 Z" />
          <path id="Path-copy" fill-rule="evenodd" stroke="none"
            d="M 1352.733154 352.114136 L 1352.733154 1036.914917 L 1216.897217 1036.914917 L 1216.897217 627.377197 L 676.866577 1036.914917 L 275.984924 731.440125 L 275.984924 560.239868 L 676.866577 869.071594 L 1352.733154 352.114136 Z" />
        </g>
      </svg>
      <span class="self-center text-xl font-medium whitespace-nowrap text-current logo-text">Morris Motel</span>
    </a>
    <button data-collapse-toggle="mobile-menu" type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="mobile-menu" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
      <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        {navContents.map((item) => (
        <li>
          <a class="font-bold block py-2 pr-4 pl-3 text-current hover:text-blue-600 dark:hover:text-blue-500 md:p-0 transition-colors duration-200"
            href={item.slug}>{item.title}</a>
        </li>
        ))}
      </ul>
    </div>

  </div>
</nav>
