---
import Article from "../components/article.astro";
import { getAllPosts } from "src/lib/posts";
const post = Astro.props.post;
const posts = await Promise.all(await getAllPosts())
const filtered = posts.filter((el) => post.content.tags.some(x => el.tags.includes(x)) && (post.content.title !== el.title))
---
<h2 class="text-3xl mb-2 font-[500]">Related Articles:</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-10">
      {filtered.slice(0, 4).map((p) => <Article post={p} />)}
    </div>