---
import Article from './article.astro';
import { getAllPosts } from '@lib/posts.js';
const post = Astro.props.post;
const posts = await Promise.all(await getAllPosts());
const filtered = posts.filter(
  (el) =>
    post.content.tags.some((x) => el.tags.includes(x)) &&
    post.content.title !== el.title,
);
---

<div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-10">
  {filtered.slice(0, 4).map((p) => <Article post={p} />)}
</div>
